{% extends 'rooms/base.html' %}
{% block html_title %} - About{% endblock %}
{% block meta_desc %}Online Class Environment is a place to store and share your files, lessons, and modules with your friends. Developed by Shikha Lakra and Shreya Khan under the guidance of Dr. Debasish Bera.{% endblock %}

{% block content %}

<div class="container pt-4">
    
    <div class="container">
        <h3>About Online Class Environment</h3>
    </div>
    

    <hr>

    <section class="container">
        <p>Online Class Environment is a place to store and share your files, lessons, and modules with your friends. Developed by Shikha Lakra and Shreya Khan under the guidance of Dr. Debasish Bera.</p>
        <p>With the ongoing pandemic, more academic institutions are resorting to online services to accomodate their mixed-learning systems.</p>
        <p>This website/web-app could be an alternative place for you (with your friends) to store and share your files!</p>
        
        <div class="card text-white bg-warning mb-3">
            <div class="card-header">
                <h6>Important note to users!</h6>
            </div>
            <div class="card-body">
                
                <p class="m-0">
                    This website is only a small, non-production type project, and <strong>might still contain some problems</strong>. <br>
                    
                </p>
            </div>

        </div>
        
        <p>Thank you for using Online Class Environment!</p>
    </section>
    
  

</div>


{% endblock content %}
